$grid-count: 12;
$med-query-map : (
  // Extra small screen / phone
  375px: -xxs,
  // Extra small screen / phone
  480px: -xs,
  // Small screen / tablet
  576px: -sm,
  // Medium screen / desktop
  768px: -md,
  // Large screen / wide desktop
  992px: -lg,
  // Extra large screen / full hd
  1200px: -xl,
  // Extra extra large screen / large desktop
  1600px: -xxl,
);
@mixin generateCol($number, $prefix: "") {
  @if $number > 0 {
    .col-span#{$prefix}-#{$number} {
      width: percentage($number / $grid-count);
    }
    .col-offset#{$prefix}-#{$number} {
      margin-left: percentage($number / $grid-count);
    }
    @include generateCol($number - 1, $prefix);
  }
};
@include generateCol(12);
@each $key, $value in $med-query-map {
  @media screen and (min-width: $key) {
    @include generateCol(12, $value)
  }
}

